<md-card class="main-card">

  <md-card-title class="text-center">Recruitment Mailing List Sign Up</md-card-title>
  
  <md-card-content>

    <form>

     <div class="row center-xs">
      <div class="col-xs-11">
        <div class="box">

          <md-input type="text" placeholder="Name"></md-input>
          <md-input type="text" placeholder="Email"></md-input>
          <md-input type="text" placeholder="Major"></md-input>


        </div>
      </div>
     </div>

    </form>

  </md-card-content>

</md-card>
