<md-card class="main-card">

  <md-card-title class="text-center">Recruitment Mailing List Sign Up</md-card-title>
  
  <md-card-content>

     <div class="row center-xs">
      <div class="col-xs-11">
        <div class="box">

          <div>
            <dynamic-form [questions]="questions"></dynamic-form>
          </div>

          <!--<md-input type="text" placeholder="Email Address"></md-input>
          <md-input type="text" placeholder="First Name"></md-input>
          <md-input type="text" placeholder="Last Name"></md-input>
          <md-input type="text" placeholder="Classification"></md-input>
          <md-input type="text" placeholder="Major"></md-input>-->

        </div>
      </div>
     </div>

  </md-card-content>

</md-card>
