<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <md-input *ngSwitchCase="'text'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type" [placeholder]="question.label"></md-input>

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>
      
    <md-radio-group 
      [id]="question.key" 
      [formControlName]="question.key" 
      *ngSwitchCase="'radio'" 
      class="row start-xs required" required>

      <h3 class="radio-group-label">{{ question.label }}</h3>
      
      <span *ngFor="let opt of question.options" class="col-xs-12"><md-radio-button [value]="opt.key" class="box">{{ opt.value }}</md-radio-button><br></span>
    
    </md-radio-group>

  </div> 

  <div class="errorMessage" *ngIf="!isValid && isDirty">{{question.label}} is required</div>
</div>
