<div class="row center-xs">
  <div class="col-xs-11">
    <div class="box">

      <h1 class="title">Donations</h1>

    </div>
  </div>
</div> 

<div class="row center-xs">
  <div class="col-xs-11">
    <div class="box">

      <md-card>

        <md-card-content>
          <p>We greatly appreciate all donations to the chapter. Feel free to reach out to us and ask for more info on what your money will go towards!</p>
          <p>If you'd like us to put your money towards something specific, like community service events, then we'll happily set it aside until it can be used for that.</p>
        </md-card-content>

      </md-card>

    </div>
  </div>
</div>

<div class="row center-xs">
  <div class="col-xs-11">
    <div class="box">

      <md-card class="donate-card">

        <md-card-header>
          <md-card-title class="align-left">*DONATE CARD*</md-card-title>
        </md-card-header>


      </md-card>

    </div>
  </div>
</div>