<div class="row center-xs">
  <div class="col-xs-11">
    <div class="box">

      <h1 class="title">Sigma Phi Epsilon</h1>
      <h2 class="title">Baylor University</h2>

    </div>
  </div>
</div> 

<div class="row center-xs">
  <div class="col-xs-11">
    <div class="box">

      <md-card>

        <md-card-content>
          
          <div class="fb-page" 
               data-href="https://www.facebook.com/baylorsigep/" 
               data-tabs="timeline"
               data-small-header="false" 
               data-adapt-container-width="true" 
               data-hide-cover="false" 
               data-show-facepile="true"
               [attr.data-width]="fbWidth">
               
            <blockquote cite="https://www.facebook.com/baylorsigep/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/baylorsigep/">Baylor Sigma Phi Epsilon TX Rho</a>
            </blockquote>
          
          </div>
        
        </md-card-content>

      </md-card>

      <md-card class="main-card twitter-feed">

        <md-card-content>
          
          <a class="twitter-timeline" href="https://twitter.com/BaylorSigEp">Tweets by BaylorSigEp</a>
          
        </md-card-content>

      </md-card>

    </div>
  </div>
</div>
